/* default css */

.w-50{
    width: 50%;
}
.mt-50{
    margin-top: 50px;
}
section{
    display: flex;
    margin-bottom: 150px;
}

body{
    font-family: 'Kaushan Script', cursive;
}
h1{
    font-size: 50px;
    /* font-family: 'Roboto Condensed', sans-serif; */
}

/* end of default css */


/* order area css start */
.orange-color{
    color: orange;
}
.order-image{
    background: url(images/shapes/order-image-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover ;
}
.order-image-bg img{
    width: 100%;
}
.order-discription p {
    margin-bottom: 40px;
    font-size: 24px;
    color: #444;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(red,yellow);
    padding: 20px 40px;
    border-radius: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
    margin-top: 40px;
    box-shadow: 10px 10px 40px gray;

}


/* order area css end */